@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Playfair+Display:ital@0;1&display=swap');

:root {
    --colorMain: darkslategrey;
    --colorSecondary: slategrey;
    --colorBgMain: ghostwhite;
    --colorBgSecondary: silver;

    --fontMain: Montserrat, sans-serif;
    --fontHeader: 'Playfair Display', serif;
}