@import '_variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);
    color: var(--colorMain);
    background-color: var(--colorBgMain);

    header {
        font-family: var(--fontHeader);
    }
    
    header, footer {
        padding: 0.5rem 1rem;
        text-align: center;
    }
    
    nav, footer {
        margin: 0 1rem 0.5rem 1rem;
        border-top: thin solid var(--colorBgSecondary);
    }

    nav {
        padding: 0.25rem 1rem;
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            li {
                flex: 1 1 auto;
                list-style-type: none;
                text-align: center;
                a {
                    text-decoration: none;
                    color: var(--colorSecondary);
                }
            }
        }
    }
    
    main {
        figure {
            margin-bottom: 0.5rem;
        }
        aside {
            padding: 0 0.5rem;
            color: var(--colorBgMain);
            background-color: var(--colorSecondary);
            > article {
                margin-bottom: 1rem;
            }
        }
    }
    
    #shortBio {
        margin: 0 1rem;
        > p {
            margin-bottom: 1rem;
        }
    }

    #videos {
        margin-right: 1rem;    
        > iframe {
            margin-right: 1rem;
        }
    }

    #comment {
        margin: 1rem;
        font-family: var(--fontHeader);
        font-size: 1.1rem;
        text-align: center;
    }
        
    figcaption {
        font-size: 0.7rem;
    }
    
    footer {
        font-size: 0.8rem;
    }
}
